<div class="testmain">
    <div class="header">
      <h1>Gif Search</h1>
      <div class="search-container">
     
          <input type="text" placeholder="What are you looking for?" #gif >
          <button type="button" class="bthnsearch" (click)="searchfunc(gif.value)">
              <i class="fa fa-search"></i></button>
          <div class="dropdown">
            <button class="dropbtn">Show All &#x25BC;</button>
            <div class="dropdown-content">
              <!--<a href="#">Show</a>-->
            
            </div>
          </div>
       
      </div>
     <p class="subtitle">You can search any gif with our search</p>
     <p class="minititle">Everything you need for your creative projects. websites, banners, presentations, magazines and advertising.</p>
    </div>
    
  </div>
