
    <div class="footer">
      <div class="left">
        <p class="lefttitle">Sign up and<br>
          get free content every week.</p>
         
          <form>
            <input type="email" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Enter your email..." class="signupemail" required>
            <input type="submit" class="btnsignup" value="Sign Up">
          </form>

        </div>
      <div class="right">
        <p class="righttitle">Browse by categories</p>
        <div class="footerlink">
          <a href="#"><div class="alink">Graphics</div></a>
          <a href="#"><div class="alink">Addons</div></a>
          <a href="#"><div class="alink">Buttons</div></a>
          <a href="#"><div class="alink">Inforgraphics</div></a>
          <a href="#"><div class="alink">PSDs</div></a>
          <a href="#"><div class="alink">Fonts</div></a>
          <a href="#"><div class="alink">Forms</div></a>
          <a href="#"><div class="alink">Graphs</div></a>
          <a href="#"><div class="alink">Icons</div></a>
          <a href="#"><div class="alink">Textures</div></a>
          <a href="#"><div class="alink">GUI</div></a>
          <a href="#"><div class="alink">Logos</div></a>
          <a href="#"><div class="alink">Templates</div></a>
          <a href="#"><div class="alink">Patterns</div></a>
          <a href="#"><div class="alink">Navigation</div></a>
          <a href="#"><div class="alink">Vectors</div></a>
          <a href="#"><div class="alink">Themes</div></a>
          <a href="#"><div class="alink">Backgrounds</div></a>
          <a href="#"><div class="alink">UI Kits</div></a>
          <a href="#"><div class="alink">Business Cards</div></a>
        </div>

      </div>
    </div>
<div class="minifooter">
<div class="left">
  <ul class="breadcrumb">
    <li><a href="#">Affiliates</a></li>
    <li><a href="#">Contributors</a></li>
    <li><a href="#">Press</a></li>
    <li><a href="#">Media</a></li>
    <li><a href="#">Careers</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <p class="copyrighttext">Copyright © 2018 myCompany All rights reserved.</p>
</div>
<div class="right">
  <div class="socialicon">
    <div class="iconcover"><a href="#"><i class="fa fa-facebook-f"></i></a></div>
    <div class="iconcover"><a href="#"><i class="fa fa-twitter"></i></a></div>
    <div class="iconcover"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></div>
    <div class="iconcover"><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></div>
  </div>
</div>


  

 
</div>

 
