
@import '../../../node_modules/font-awesome/scss/font-awesome.scss';
@font-face {
  font-family: myriadpro-regular;
  src: url('../../assets/fonts/Myriad\ Pro\ Regular.ttf');
}
@font-face {
  font-family: museo300;
  src: url('../../assets/fonts/Museo\ 300.otf');
}
@font-face {
  font-family: museo500;
  src: url('../../assets/fonts/Museo\ 500.otf');
}

.footer{
    background-color: #363b3e;
    padding: 60px 50px 100px;
    overflow: auto;
    .left{
      width: 40%;
      float: left;
      .lefttitle{
        font: 300 1.4em/36px 'museo300', sans-serif;
        color: #ffffff;
      }
      .signupemail{
        width: 270px;
        height: 50px;
        font: 16px 'museo300';
        /* line-height: 30px; */
        color: #6d767d;
        background-color: transparent;
        border: 2px solid #6d767d;
        box-shadow: none;
        appearance: none;
        border-radius: 5px;
        padding-left: 20px;
      }
      .btnsignup{
        background-color: #2c88b5;
         color: #ffffff;
         font: 1em 'museo300';
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 1px;
  display: block;
  width: 65%;
  height: 52px;
  margin-top: 20px;
      }
    }
    .right{
      width: 60%;
      float: left;
      .righttitle{
        font:  1.4em/36px 'museo300', sans-serif;
        color: #ffffff;
        margin-bottom: 20px;
      }
      .footerlink{
        .alink{
          font: 300 0.9em 'myriadpro-regular', sans-serif;
          line-height: 30px;
          color: #8f989d;
          width: 25%;
          display: inline-block;
        }
        :hover{
          text-decoration: underline;
        }
      }
    }
  }

  .minifooter{
    padding: 45px 50px 40px;
    overflow: auto;
    .left{
      width: 70%;
      float: left;
      .breadcrumb {
        padding: 0px 16px 10px 0;
        list-style: none;
        margin-top: 0;
        li {
          display: inline;
          font-size: 18px;
          a {
            font: 400 0.8em 'museo300', sans-serif;
            text-decoration: none;
            color: #8a949a;
          }
          :hover {
            color: #01447e;
            text-decoration: underline;
          }
        }
        li+li:before {
          padding: 12px;
          color: #8a949a;
          content: "/\00a0";
        }
      }
      .copyrighttext{
        color: #b4bdc2;
        font: 400 0.6em 'myriadpro-regular', sans-serif;
      }
    }
    
    .right{
      width: 30%;
      float: left;
      .socialicon{
        display: flex;
        float: right;
        a{
          text-decoration: none;
        }
        .iconcover{
          width: 30px;
      height: 30px;
     
      background-color: transparent;
      border: 1px solid #b4bdc2;
      margin: 3px;
      cursor: pointer;
      display: grid;
      border-radius: 50%;
      .fa{
        color: #b4bdc2;
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 7px;
      }
        }
        :hover{
        
            .fa{
              color: #767c7f;
            
          }
          
        }
      }
   
    }

  }
  




@media (max-width: 768px)
{

  .footer{
    padding: 60px 20px 100px;
    .left{
      width: 100%;
      
      .btnsignup{
        width: 98%;
        margin-top: 25px;
        margin-bottom: 30px;
      }
    }
    .right{
      width: 100%;
     
      .footerlink{
        .alink{
         
          width: 33%;
        }
       
      }
    }
  }

  .minifooter{
    padding: 20px 10px 25px;
    overflow: auto;
    .left{
      width: 100%;
      .breadcrumb {
      
        li {
        
          font-size: 11px;
          a {
            font: 400 0.8em 'museo300', sans-serif;
           
          }
          
        }
        li+li:before {
          padding: 6px;
         
        }
      }
      .copyrighttext{
        margin-bottom: 20px;
      }
    }
    .right{
      width: 100%;
      .socialicon{
        float:none;
      }
    }
  }

}